---
- name: RHBK Federation LDAP Setup
  hosts: localhost

  roles:  
    - role: redhat.rhbk.rhbk_realm
      rhbk_realm: TestRealm

  vars:
    rhbk_admin_password: "redhat123"
    rhbk_admin_user: "keycloak-admin"
    rhbk_server_url: "http://localhost:8080"
    rhbk_no_log: false
    rhbk_context: "" # it needs to be empty
    rhbk_realm: TestRealm
    rhbk_user_federation:
      - realm: TestRealm
        name: my-ldap
        provider_id: ldap
        provider_type: org.keycloak.storage.UserStorageProvider
        config:
          priority: '0'
          enabled: true
          cachePolicy: DEFAULT
          batchSizeForSync: '1000'
          editMode: READ_ONLY
          importEnabled: true
          syncRegistrations: false
          vendor: other
          usernameLDAPAttribute: uid
          rdnLDAPAttribute: uid
          uuidLDAPAttribute: entryUUID
          userObjectClasses: inetOrgPerson, organizationalPerson
          connectionUrl: ldaps://ldap.example.com:636
          usersDn: ou=Users,dc=example,dc=com
          authType: simple
          bindDn: cn=directory reader
          bindCredential: password
          searchScope: '1'
          validatePasswordPolicy: false
          trustEmail: false
          useTruststoreSpi: ldapsOnly
          connectionPooling: true
          pagination: true
          allowKerberosAuthentication: false
          debug: false
          useKerberosForPasswordAuthentication: false
        mappers:
          - name: "full name"
            providerId: "full-name-ldap-mapper"
            providerType: "org.keycloak.storage.ldap.mappers.LDAPStorageMapper"
            config:
              ldap.full.name.attribute: cn
              read.only: true
              write.only: false
     