---
- import_playbook: generate_rhbk_admin_token.yaml

- name: Create Subflow for an Authentication Flow in RHBK Realm
  hosts: localhost


  vars:
    rhbk_realm: "TestRealm"
    no_log: false
    rhbk_url: "http://localhost:8080"
    rhbk_authentication_name: "Browser_with_two_factors"
    rhbk_sub_step: "auth-password"
    rhbk_subflow_alias: "my-subflow"
    rhbk_subflow_type: "generic"

  tasks:
    - name: Add {{ rhbk_subflow_type }} Sub-flow
      uri:
        url: "{{ rhbk_url }}/admin/realms/{{ rhbk_realm }}/authentication/flows/{{ rhbk_authentication_name }}/executions/flow"
        method: POST
        headers:
          Authorization: "Bearer {{ token.json.access_token }}"
          Content-Type: "application/json"
        body_format: json
        body:
          alias: "{{ rhbk_subflow_alias }}"
          type: "{{ rhbk_subflow_type }}"
        status_code: [201, 409]
      register: subflow_response
      no_log: "{{ no_log }}"
    
      